<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<integer>280</integer>
	<key>CIJUtilityPrinterSpecification</key>
	<integer>20061</integer>
	<key>CIJUtilityHelp</key>
	<dict>
		<key>BundleName</key>
		<string>CanonIJ_Utility.help</string>
		<key>TopPageAnchor</key>
		<string>PDG_MAINTENANCE</string>
		<key>InitialCheckAnchor</key>
		<string>PDG_INITIAL</string>
		<key>AboutInkJPAnchor</key>
		<string>PDG_INK_JP</string>
		<key>AboutInkOTHAnchor</key>
		<string>PDG_INK_OTH</string>
	</dict>
	<key>CIJUtilitySupportPanel</key>
	<array>
		<string>Cleaning</string>
		<string>TestPrint</string>
		<string>InkLevel</string>
		<string>SilentMode</string>
		<string>CustomSetting</string>
	</array>
	<key>Cleaning</key>
	<dict>
		<key>CIJUtilitySupportFunction</key>
		<array>
			<string>CIJUtilityCleaning</string>
			<string>CIJUtilityDeepCleaning</string>
			<string>CIJUtilityPlatenCleaning</string>
		</array>
		<key>CIJUtilityCleaning</key>
		<dict>
			<key>TextField</key>
			<true/>
			<key>CIJUtilityCleaningGroup</key>
			<array>
				<string>CIJUtilityCleaning_All</string>
				<string>CIJUtilityCleaning_Group1</string>
				<string>CIJUtilityCleaning_Group2</string>
			</array>
			<key>CIJUtilityNozzleCheck</key>
			<true/>
		</dict>
		<key>CIJUtilityDeepCleaning</key>
		<dict>
			<key>TextField</key>
			<true/>
			<key>CIJUtilityCleaningGroup</key>
			<array>
				<string>CIJUtilityCleaning_All</string>
				<string>CIJUtilityCleaning_Group1</string>
				<string>CIJUtilityCleaning_Group2</string>
			</array>
			<key>CIJUtilityNozzleCheck</key>
			<false/>
		</dict>
		<key>CIJUtilityPlatenCleaning</key>
		<dict>
			<key>Size</key>
			<string>550,350</string>
			<key>Image</key>
			<string>352_Platen</string>
			<key>Rect</key>
			<dict>
				<key>Origin</key>
				<string>20,50</string>
				<key>Size</key>
				<string>158,124</string>
			</dict>
			<key>Text</key>
			<array>
				<dict>
					<key>Origin</key>
					<string>183,50</string>
					<key>Size</key>
					<string>300,124</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>TestPrint</key>
	<dict>
		<key>CIJUtilitySupportFunction</key>
		<array>
			<string>CIJUtilityNozzleCheck</string>
			<string>CIJUtilityHeadAlignment</string>
		</array>
		<key>CIJUtilityNozzleCheck</key>
		<dict>
			<key>isReadMSI</key>
			<false/>
			<key>CIJUtilityCleaning</key>
			<true/>
			<key>CIJUtilityCheckNozzleCheckPattern</key>
			<dict>
				<key>Normal</key>
				<dict>
					<key>OK</key>
					<dict>
						<key>Image</key>
						<string>283_OK</string>
						<key>Rect</key>
						<dict>
							<key>Origin</key>
							<string>20,210</string>
							<key>Size</key>
							<string>280,180</string>
						</dict>
					</dict>
					<key>NG</key>
					<dict>
						<key>Image</key>
						<string>283_NG</string>
						<key>Rect</key>
						<dict>
							<key>Origin</key>
							<string>325,210</string>
							<key>Size</key>
							<string>280,180</string>
						</dict>
					</dict>
					<key>Size</key>
					<string>625,500</string>
					<key>Text</key>
					<array>
						<dict>
							<key>Origin</key>
							<string>20,50</string>
							<key>Size</key>
							<string>280,150</string>
						</dict>
						<dict>
							<key>Origin</key>
							<string>325,50</string>
							<key>Size</key>
							<string>280,150</string>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
		<key>CIJUtilityHeadAlignment</key>
		<dict>
			<key>CIJUtilityHeadAlignmentCancelBtnHide</key>
			<false/>
			<key>CIJUtilityHeadAlignmentType</key>
			<array>
				<string>CIJUtilityHeadAlignment_Manual</string>
				<string>CIJUtilityHeadAlignment_Auto</string>
			</array>
			<key>CIJUtilityHeadAlignment_Auto</key>
			<dict>
				<key>isReadMSI</key>
				<false/>
			</dict>
			<key>CIJUtilityHeadAlignment_Manual</key>
			<dict>
				<key>isReadMSI</key>
				<false/>
				<key>Normal</key>
				<array>
					<dict>
						<key>Size</key>
						<string>640,640</string>
						<key>Set</key>
						<string>A,B,C,D,E,F,G,H,I,J,K</string>
						<key>Caption</key>
						<array>
							<dict>
								<key>Origin</key>
								<string>412,464</string>
								<key>Size</key>
								<string>220,44</string>
							</dict>
							<dict>
								<key>Origin</key>
								<string>412,257</string>
								<key>Size</key>
								<string>220,44</string>
							</dict>
						</array>
						<key>Border</key>
						<dict>
							<key>Origin</key>
							<string>20,40</string>
							<key>Size</key>
							<string>372,470</string>
						</dict>
						<key>A</key>
						<dict>
							<key>Color</key>
							<string>0,0,0</string>
							<key>Default</key>
							<integer>0</integer>
							<key>Maximum</key>
							<integer>7</integer>
							<key>Minimum</key>
							<integer>-3</integer>
							<key>CenterLine</key>
							<string>0</string>
							<key>Character</key>
							<true/>
							<key>TextField</key>
							<dict>
								<key>Origin</key>
								<string>412,437</string>
								<key>Size</key>
								<string>220,27</string>
							</dict>
							<key>Slider</key>
							<dict>
								<key>Origin</key>
								<string>60,300</string>
								<key>Size</key>
								<string>50,180</string>
							</dict>
						</dict>
						<key>B</key>
						<dict>
							<key>Color</key>
							<string>0,255,255</string>
							<key>Default</key>
							<integer>0</integer>
							<key>Maximum</key>
							<integer>7</integer>
							<key>Minimum</key>
							<integer>-3</integer>
							<key>CenterLine</key>
							<string>0</string>
							<key>Character</key>
							<false/>
							<key>TextField</key>
							<dict>
								<key>Origin</key>
								<string>412,405</string>
								<key>Size</key>
								<string>220,27</string>
							</dict>
							<key>Slider</key>
							<dict>
								<key>Origin</key>
								<string>113,300</string>
								<key>Size</key>
								<string>50,180</string>
							</dict>
						</dict>
						<key>C</key>
						<dict>
							<key>Color</key>
							<string>255,0,255</string>
							<key>Default</key>
							<integer>0</integer>
							<key>Maximum</key>
							<integer>7</integer>
							<key>Minimum</key>
							<integer>-3</integer>
							<key>CenterLine</key>
							<string>0</string>
							<key>Character</key>
							<false/>
							<key>TextField</key>
							<dict>
								<key>Origin</key>
								<string>412,373</string>
								<key>Size</key>
								<string>220,27</string>
							</dict>
							<key>Slider</key>
							<dict>
								<key>Origin</key>
								<string>166,300</string>
								<key>Size</key>
								<string>50,180</string>
							</dict>
						</dict>
						<key>D</key>
						<dict>
							<key>Color</key>
							<string>128,255,255</string>
							<key>Default</key>
							<integer>0</integer>
							<key>Maximum</key>
							<integer>7</integer>
							<key>Minimum</key>
							<integer>-3</integer>
							<key>CenterLine</key>
							<string>0</string>
							<key>Character</key>
							<false/>
							<key>TextField</key>
							<dict>
								<key>Origin</key>
								<string>412,341</string>
								<key>Size</key>
								<string>220,27</string>
							</dict>
							<key>Slider</key>
							<dict>
								<key>Origin</key>
								<string>219,300</string>
								<key>Size</key>
								<string>50,180</string>
							</dict>
						</dict>
						<key>E</key>
						<dict>
							<key>Color</key>
							<string>255,128,255</string>
							<key>Default</key>
							<integer>0</integer>
							<key>Maximum</key>
							<integer>7</integer>
							<key>Minimum</key>
							<integer>-3</integer>
							<key>CenterLine</key>
							<string>0</string>
							<key>Character</key>
							<false/>
							<key>TextField</key>
							<dict>
								<key>Origin</key>
								<string>412,309</string>
								<key>Size</key>
								<string>220,27</string>
							</dict>
							<key>Slider</key>
							<dict>
								<key>Origin</key>
								<string>272,300</string>
								<key>Size</key>
								<string>50,180</string>
							</dict>
						</dict>
						<key>F</key>
						<dict>
							<key>Color</key>
							<string>0,0,0</string>
							<key>Default</key>
							<integer>0</integer>
							<key>Maximum</key>
							<integer>5</integer>
							<key>Minimum</key>
							<integer>-5</integer>
							<key>CenterLine</key>
							<string>0</string>
							<key>Character</key>
							<true/>
							<key>TextField</key>
							<dict>
								<key>Origin</key>
								<string>412,230</string>
								<key>Size</key>
								<string>220,27</string>
							</dict>
							<key>Slider</key>
							<dict>
								<key>Origin</key>
								<string>60,90</string>
								<key>Size</key>
								<string>50,180</string>
							</dict>
						</dict>
						<key>G</key>
						<dict>
							<key>Color</key>
							<string>0,255,255</string>
							<key>Default</key>
							<integer>0</integer>
							<key>Maximum</key>
							<integer>5</integer>
							<key>Minimum</key>
							<integer>-5</integer>
							<key>CenterLine</key>
							<string>0</string>
							<key>Character</key>
							<false/>
							<key>TextField</key>
							<dict>
								<key>Origin</key>
								<string>412,198</string>
								<key>Size</key>
								<string>220,27</string>
							</dict>
							<key>Slider</key>
							<dict>
								<key>Origin</key>
								<string>113,90</string>
								<key>Size</key>
								<string>50,180</string>
							</dict>
						</dict>
						<key>H</key>
						<dict>
							<key>Color</key>
							<string>0,0,0</string>
							<key>Default</key>
							<integer>0</integer>
							<key>Maximum</key>
							<integer>5</integer>
							<key>Minimum</key>
							<integer>-5</integer>
							<key>CenterLine</key>
							<string>0</string>
							<key>Character</key>
							<false/>
							<key>TextField</key>
							<dict>
								<key>Origin</key>
								<string>412,166</string>
								<key>Size</key>
								<string>220,27</string>
							</dict>
							<key>Slider</key>
							<dict>
								<key>Origin</key>
								<string>166,90</string>
								<key>Size</key>
								<string>50,180</string>
							</dict>
						</dict>
						<key>I</key>
						<dict>
							<key>Color</key>
							<string>128,255,255</string>
							<key>Default</key>
							<integer>0</integer>
							<key>Maximum</key>
							<integer>5</integer>
							<key>Minimum</key>
							<integer>-5</integer>
							<key>CenterLine</key>
							<string>0</string>
							<key>Character</key>
							<false/>
							<key>TextField</key>
							<dict>
								<key>Origin</key>
								<string>412,134</string>
								<key>Size</key>
								<string>220,27</string>
							</dict>
							<key>Slider</key>
							<dict>
								<key>Origin</key>
								<string>219,90</string>
								<key>Size</key>
								<string>50,180</string>
							</dict>
						</dict>
						<key>J</key>
						<dict>
							<key>Color</key>
							<string>128,255,255</string>
							<key>Default</key>
							<integer>0</integer>
							<key>Maximum</key>
							<integer>5</integer>
							<key>Minimum</key>
							<integer>-5</integer>
							<key>CenterLine</key>
							<string>0</string>
							<key>Character</key>
							<false/>
							<key>TextField</key>
							<dict>
								<key>Origin</key>
								<string>412,102</string>
								<key>Size</key>
								<string>220,27</string>
							</dict>
							<key>Slider</key>
							<dict>
								<key>Origin</key>
								<string>272,90</string>
								<key>Size</key>
								<string>50,180</string>
							</dict>
						</dict>
						<key>K</key>
						<dict>
							<key>Color</key>
							<string>255,128,255</string>
							<key>Default</key>
							<integer>0</integer>
							<key>Maximum</key>
							<integer>5</integer>
							<key>Minimum</key>
							<integer>-5</integer>
							<key>CenterLine</key>
							<string>0</string>
							<key>Character</key>
							<false/>
							<key>TextField</key>
							<dict>
								<key>Origin</key>
								<string>412,70</string>
								<key>Size</key>
								<string>220,27</string>
							</dict>
							<key>Slider</key>
							<dict>
								<key>Origin</key>
								<string>325,90</string>
								<key>Size</key>
								<string>50,180</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>CIJUtilityBandRegiCancelBtnHide</key>
						<false/>
						<key>Size</key>
						<string>562,560</string>
						<key>Set</key>
						<string>L,M</string>
						<key>Caption</key>
						<array>
							<dict>
								<key>Origin</key>
								<string>342,380</string>
								<key>Size</key>
								<string>220,44</string>
							</dict>
						</array>
						<key>Border</key>
						<dict>
							<key>Origin</key>
							<string>20,60</string>
							<key>Size</key>
							<string>280,360</string>
						</dict>
						<key>L</key>
						<dict>
							<key>Color</key>
							<string>129,129,129</string>
							<key>Default</key>
							<integer>0</integer>
							<key>Maximum</key>
							<integer>3</integer>
							<key>Minimum</key>
							<integer>-3</integer>
							<key>CenterLine</key>
							<string>1</string>
							<key>HeightMagnification</key>
							<string>0.7</string>
							<key>Character</key>
							<true/>
							<key>TextField</key>
							<dict>
								<key>Origin</key>
								<string>342,353</string>
								<key>Size</key>
								<string>220,27</string>
							</dict>
							<key>Slider</key>
							<dict>
								<key>Origin</key>
								<string>60,200</string>
								<key>Size</key>
								<string>70,185</string>
							</dict>
						</dict>
						<key>M</key>
						<dict>
							<key>Color</key>
							<string>129,129,129</string>
							<key>Default</key>
							<integer>0</integer>
							<key>Maximum</key>
							<integer>3</integer>
							<key>Minimum</key>
							<integer>-3</integer>
							<key>CenterLine</key>
							<string>1</string>
							<key>HeightMagnification</key>
							<string>1.2</string>
							<key>Character</key>
							<false/>
							<key>TextField</key>
							<dict>
								<key>Origin</key>
								<string>342,321</string>
								<key>Size</key>
								<string>220,27</string>
							</dict>
							<key>Slider</key>
							<dict>
								<key>Origin</key>
								<string>150,200</string>
								<key>Size</key>
								<string>70,185</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
	<key>InkLevel</key>
	<dict>
		<key>Space</key>
		<integer>4</integer>
		<key>Magnification</key>
		<integer>1</integer>
		<key>SupportInk</key>
		<dict>
			<key>BK</key>
			<dict>
				<key>Color</key>
				<array>
					<string>0,0,0</string>
				</array>
				<key>Image</key>
				<string>InkTankL</string>
				<key>Type</key>
				<string>Normal</string>
			</dict>
			<key>C</key>
			<dict>
				<key>Color</key>
				<array>
					<string>0,207,255</string>
				</array>
				<key>Image</key>
				<string>InkTankS</string>
				<key>Type</key>
				<string>Normal</string>
			</dict>
			<key>M</key>
			<dict>
				<key>Color</key>
				<array>
					<string>242,0,255</string>
				</array>
				<key>Image</key>
				<string>InkTankS</string>
				<key>Type</key>
				<string>Normal</string>
			</dict>
			<key>Y</key>
			<dict>
				<key>Color</key>
				<array>
					<string>255,218,0</string>
				</array>
				<key>Image</key>
				<string>InkTankS</string>
				<key>Type</key>
				<string>Normal</string>
			</dict>
		</dict>
	</dict>
	<key>SilentMode</key>
	<dict>
		<key>CIJUtilitySetSilentMode</key>
		<dict>
			<key>Type</key>
			<string>Radio</string>
			<key>Default</key>
			<string>0</string>
		</dict>
	</dict>
	<key>CustomSetting</key>
	<dict>
		<key>CIJUtilityCustomInformation</key>
		<dict>
			<key>pmSave</key>
			<false/>
		</dict>
		<key>CIJUtilitySupportFunction</key>
		<array>
			<string>CIJUtilitySetAutoPowerOn</string>
			<string>CIJUtilitySetAutoPowerOff</string>
			<string>CIJUtilitySetDryLevel</string>
			<string>CIJUtilitySetPaperGap</string>
			<string>CIJUtilitySetAlignHeadsManually</string>
		</array>
		<key>CIJUtilitySetAutoPower</key>
		<dict>
			<key>Type</key>
			<string>Popup</string>
			<key>Default</key>
			<string>0</string>
			<key>CIJUtilitySetAutoPowerOn</key>
			<dict>
				<key>Type</key>
				<string>CheckBox</string>
				<key>Default</key>
				<false/>
			</dict>
			<key>CIJUtilitySetAutoPowerOff</key>
			<dict>
				<key>Type</key>
				<string>CheckBox</string>
				<key>Default</key>
				<false/>
				<key>Popup</key>
				<array>
					<string>5</string>
					<string>10</string>
					<string>15</string>
					<string>30</string>
					<string>60</string>
				</array>
			</dict>
		</dict>
		<key>CIJUtilitySetDryLevel</key>
		<dict>
			<key>Type</key>
			<string>Slider</string>
			<key>Default</key>
			<integer>3</integer>
			<key>Maximum</key>
			<integer>5</integer>
			<key>Minimum</key>
			<integer>1</integer>
		</dict>
		<key>CIJUtilitySetPaperGap</key>
		<dict>
			<key>Type</key>
			<string>CheckBox</string>
			<key>Default</key>
			<false/>
		</dict>
		<key>CIJUtilitySetAlignHeadsManually</key>
		<dict>
			<key>Type</key>
			<string>CheckBox</string>
			<key>Default</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
