<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<integer>471</integer>
	<key>CIJUtilityPrinterSpecification</key>
	<integer>20161</integer>
	<key>CIJUtilityHelp</key>
	<dict>
		<key>TopPageAnchor</key>
		<string>PDG_MAINTENANCE</string>
		<key>InitialCheckAnchor</key>
		<string>PDG_CLEANING_CHECK1</string>
		<key>InitialCheckDeepAnchor</key>
		<string>PDG_CLEANING_CHECK2</string>
		<key>InitialCheckNozzleAnchor</key>
		<string>PDG_NOZZLE_CHECK</string>
	</dict>
	<key>CIJUtilitySupportPanel</key>
	<array>
		<string>Cleaning</string>
		<string>TestPrint</string>
		<string>PowerSetting</string>
		<string>InkLevel</string>
		<string>SilentMode</string>
		<string>CustomSetting</string>
	</array>
	<key>Cleaning</key>
	<dict>
		<key>CIJUtilitySupportFunction</key>
		<array>
			<string>CIJUtilityCleaning</string>
			<string>CIJUtilityDeepCleaning</string>
		</array>
		<key>CIJUtilityCleaning</key>
		<dict>
			<key>Type</key>
			<string>Radio</string>
			<key>TextField</key>
			<true/>
			<key>Default</key>
			<string>CIJUtilityCleaning_All</string>
			<key>CIJUtilityCleaningGroup</key>
			<array>
				<string>CIJUtilityCleaning_All</string>
				<string>CIJUtilityCleaning_Group1</string>
				<string>CIJUtilityCleaning_Group2</string>
			</array>
			<key>CIJUtilityNozzleCheck</key>
			<true/>
		</dict>
		<key>CIJUtilityDeepCleaning</key>
		<dict>
			<key>Type</key>
			<string>Radio</string>
			<key>TextField</key>
			<true/>
			<key>Default</key>
			<string>CIJUtilityCleaning_All</string>
			<key>CIJUtilityCleaningGroup</key>
			<array>
				<string>CIJUtilityCleaning_All</string>
				<string>CIJUtilityCleaning_Group1</string>
				<string>CIJUtilityCleaning_Group2</string>
			</array>
			<key>CIJUtilityNozzleCheck</key>
			<true/>
		</dict>
	</dict>
	<key>TestPrint</key>
	<dict>
		<key>CIJUtilitySupportFunction</key>
		<array>
			<string>CIJUtilityNozzleCheck</string>
			<string>CIJUtilityHeadAlignment</string>
		</array>
		<key>CIJUtilityNozzleCheck</key>
		<dict>
			<key>CIJUtilityCleaning</key>
			<true/>
			<key>CIJUtilityCheckNozzleCheckPattern</key>
			<dict>
				<key>Normal</key>
				<dict>
					<key>OK</key>
					<dict>
						<key>Image</key>
						<string>444_OK</string>
						<key>Rect</key>
						<dict>
							<key>Origin</key>
							<string>20,210</string>
							<key>Size</key>
							<string>280,280</string>
						</dict>
					</dict>
					<key>NG</key>
					<dict>
						<key>Image</key>
						<string>444_NG</string>
						<key>Rect</key>
						<dict>
							<key>Origin</key>
							<string>325,210</string>
							<key>Size</key>
							<string>280,280</string>
						</dict>
					</dict>
					<key>Size</key>
					<string>625,600</string>
					<key>Text</key>
					<array>
						<dict>
							<key>Origin</key>
							<string>20,50</string>
							<key>Size</key>
							<string>280,150</string>
						</dict>
						<dict>
							<key>Origin</key>
							<string>325,50</string>
							<key>Size</key>
							<string>280,150</string>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
		<key>CIJUtilityHeadAlignment</key>
		<dict>
			<key>CIJUtilityHeadAlignmentCancelBtnHide</key>
			<true/>
			<key>CIJUtilityHeadAlignmentType</key>
			<array>
				<string>CIJUtilityHeadAlignment_Manual</string>
				<string>CIJUtilityHeadAlignment_Auto</string>
			</array>
			<key>CIJUtilityHeadAlignment_Auto</key>
			<dict/>
			<key>CIJUtilityHeadAlignment_Manual</key>
			<dict>
				<key>Normal</key>
				<array>
					<dict>
						<key>Size</key>
						<string>655,580</string>
						<key>Set</key>
						<string>A,B,C,D,E,F,G,H,I,J,K,L,M</string>
						<key>ControlSize</key>
						<string>Small</string>
						<key>Caption</key>
						<array>
							<dict>
								<key>Origin</key>
								<string>435,518</string>
								<key>Size</key>
								<string>220,44</string>
							</dict>
						</array>
						<key>Border</key>
						<dict>
							<key>Origin</key>
							<string>20,40</string>
							<key>Size</key>
							<string>395,522</string>
						</dict>
						<key>A</key>
						<dict>
							<key>Color</key>
							<string>128,255,255</string>
							<key>Default</key>
							<integer>0</integer>
							<key>Maximum</key>
							<integer>5</integer>
							<key>Minimum</key>
							<integer>-5</integer>
							<key>CenterLine</key>
							<string>0</string>
							<key>Character</key>
							<true/>
							<key>TextField</key>
							<dict>
								<key>Origin</key>
								<string>435,496</string>
								<key>Size</key>
								<string>220,22</string>
							</dict>
							<key>Slider</key>
							<dict>
								<key>Origin</key>
								<string>60,388</string>
								<key>Size</key>
								<string>50,134</string>
							</dict>
						</dict>
						<key>B</key>
						<dict>
							<key>Color</key>
							<string>128,255,255</string>
							<key>Default</key>
							<integer>0</integer>
							<key>Maximum</key>
							<integer>5</integer>
							<key>Minimum</key>
							<integer>-5</integer>
							<key>CenterLine</key>
							<string>0</string>
							<key>Character</key>
							<false/>
							<key>TextField</key>
							<dict>
								<key>Origin</key>
								<string>435,470</string>
								<key>Size</key>
								<string>220,22</string>
							</dict>
							<key>Slider</key>
							<dict>
								<key>Origin</key>
								<string>113,388</string>
								<key>Size</key>
								<string>50,134</string>
							</dict>
						</dict>
						<key>C</key>
						<dict>
							<key>Color</key>
							<string>255,0,255</string>
							<key>Default</key>
							<integer>0</integer>
							<key>Maximum</key>
							<integer>5</integer>
							<key>Minimum</key>
							<integer>-5</integer>
							<key>CenterLine</key>
							<string>0</string>
							<key>Character</key>
							<false/>
							<key>TextField</key>
							<dict>
								<key>Origin</key>
								<string>435,444</string>
								<key>Size</key>
								<string>220,22</string>
							</dict>
							<key>Slider</key>
							<dict>
								<key>Origin</key>
								<string>166,388</string>
								<key>Size</key>
								<string>50,134</string>
							</dict>
						</dict>
						<key>D</key>
						<dict>
							<key>Color</key>
							<string>255,0,255</string>
							<key>Default</key>
							<integer>0</integer>
							<key>Maximum</key>
							<integer>5</integer>
							<key>Minimum</key>
							<integer>-5</integer>
							<key>CenterLine</key>
							<string>0</string>
							<key>Character</key>
							<false/>
							<key>TextField</key>
							<dict>
								<key>Origin</key>
								<string>435,418</string>
								<key>Size</key>
								<string>220,22</string>
							</dict>
							<key>Slider</key>
							<dict>
								<key>Origin</key>
								<string>219,388</string>
								<key>Size</key>
								<string>50,134</string>
							</dict>
						</dict>
						<key>E</key>
						<dict>
							<key>Color</key>
							<string>128,128,128</string>
							<key>Default</key>
							<integer>0</integer>
							<key>Maximum</key>
							<integer>5</integer>
							<key>Minimum</key>
							<integer>-5</integer>
							<key>CenterLine</key>
							<string>0</string>
							<key>Character</key>
							<false/>
							<key>TextField</key>
							<dict>
								<key>Origin</key>
								<string>435,392</string>
								<key>Size</key>
								<string>220,22</string>
							</dict>
							<key>Slider</key>
							<dict>
								<key>Origin</key>
								<string>272,388</string>
								<key>Size</key>
								<string>50,134</string>
							</dict>
						</dict>
						<key>F</key>
						<dict>
							<key>Color</key>
							<string>128,128,128</string>
							<key>Default</key>
							<integer>0</integer>
							<key>Maximum</key>
							<integer>5</integer>
							<key>Minimum</key>
							<integer>-5</integer>
							<key>CenterLine</key>
							<string>0</string>
							<key>Character</key>
							<false/>
							<key>TextField</key>
							<dict>
								<key>Origin</key>
								<string>435,366</string>
								<key>Size</key>
								<string>220,22</string>
							</dict>
							<key>Slider</key>
							<dict>
								<key>Origin</key>
								<string>325,388</string>
								<key>Size</key>
								<string>50,134</string>
							</dict>
						</dict>
						<key>G</key>
						<dict>
							<key>Color</key>
							<string>128,128,128</string>
							<key>Default</key>
							<integer>0</integer>
							<key>Maximum</key>
							<integer>5</integer>
							<key>Minimum</key>
							<integer>-5</integer>
							<key>CenterLine</key>
							<string>0</string>
							<key>Character</key>
							<true/>
							<key>TextField</key>
							<dict>
								<key>Origin</key>
								<string>435,340</string>
								<key>Size</key>
								<string>220,22</string>
							</dict>
							<key>Slider</key>
							<dict>
								<key>Origin</key>
								<string>113,224</string>
								<key>Size</key>
								<string>50,134</string>
							</dict>
						</dict>
						<key>H</key>
						<dict>
							<key>Color</key>
							<string>128,128,128</string>
							<key>Default</key>
							<integer>0</integer>
							<key>Maximum</key>
							<integer>5</integer>
							<key>Minimum</key>
							<integer>-5</integer>
							<key>CenterLine</key>
							<string>0</string>
							<key>Character</key>
							<false/>
							<key>TextField</key>
							<dict>
								<key>Origin</key>
								<string>435,314</string>
								<key>Size</key>
								<string>220,20</string>
							</dict>
							<key>Slider</key>
							<dict>
								<key>Origin</key>
								<string>166,224</string>
								<key>Size</key>
								<string>50,134</string>
							</dict>
						</dict>
						<key>I</key>
						<dict>
							<key>Color</key>
							<string>128,255,255</string>
							<key>Default</key>
							<integer>0</integer>
							<key>Maximum</key>
							<integer>5</integer>
							<key>Minimum</key>
							<integer>-5</integer>
							<key>CenterLine</key>
							<string>0</string>
							<key>Character</key>
							<false/>
							<key>TextField</key>
							<dict>
								<key>Origin</key>
								<string>435,288</string>
								<key>Size</key>
								<string>220,22</string>
							</dict>
							<key>Slider</key>
							<dict>
								<key>Origin</key>
								<string>219,224</string>
								<key>Size</key>
								<string>50,134</string>
							</dict>
						</dict>
						<key>J</key>
						<dict>
							<key>Color</key>
							<string>128,255,255</string>
							<key>Default</key>
							<integer>0</integer>
							<key>Maximum</key>
							<integer>5</integer>
							<key>Minimum</key>
							<integer>-5</integer>
							<key>CenterLine</key>
							<string>0</string>
							<key>Character</key>
							<false/>
							<key>TextField</key>
							<dict>
								<key>Origin</key>
								<string>435,262</string>
								<key>Size</key>
								<string>220,22</string>
							</dict>
							<key>Slider</key>
							<dict>
								<key>Origin</key>
								<string>272,224</string>
								<key>Size</key>
								<string>50,134</string>
							</dict>
						</dict>
						<key>K</key>
						<dict>
							<key>Color</key>
							<string>128,128,128</string>
							<key>Default</key>
							<integer>0</integer>
							<key>Maximum</key>
							<integer>5</integer>
							<key>Minimum</key>
							<integer>-5</integer>
							<key>CenterLine</key>
							<string>0</string>
							<key>Character</key>
							<true/>
							<key>TextField</key>
							<dict>
								<key>Origin</key>
								<string>435,236</string>
								<key>Size</key>
								<string>220,22</string>
							</dict>
							<key>Slider</key>
							<dict>
								<key>Origin</key>
								<string>113,60</string>
								<key>Size</key>
								<string>50,134</string>
							</dict>
						</dict>
						<key>L</key>
						<dict>
							<key>Color</key>
							<string>128,128,128</string>
							<key>Default</key>
							<integer>0</integer>
							<key>Maximum</key>
							<integer>5</integer>
							<key>Minimum</key>
							<integer>-5</integer>
							<key>CenterLine</key>
							<string>0</string>
							<key>Character</key>
							<false/>
							<key>TextField</key>
							<dict>
								<key>Origin</key>
								<string>435,210</string>
								<key>Size</key>
								<string>220,22</string>
							</dict>
							<key>Slider</key>
							<dict>
								<key>Origin</key>
								<string>166,60</string>
								<key>Size</key>
								<string>50,134</string>
							</dict>
						</dict>
						<key>M</key>
						<dict>
							<key>Color</key>
							<string>128,255,255</string>
							<key>Default</key>
							<integer>0</integer>
							<key>Maximum</key>
							<integer>5</integer>
							<key>Minimum</key>
							<integer>-5</integer>
							<key>CenterLine</key>
							<string>0</string>
							<key>Character</key>
							<false/>
							<key>TextField</key>
							<dict>
								<key>Origin</key>
								<string>435,184</string>
								<key>Size</key>
								<string>220,22</string>
							</dict>
							<key>Slider</key>
							<dict>
								<key>Origin</key>
								<string>219,60</string>
								<key>Size</key>
								<string>50,134</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>Size</key>
						<string>602,554</string>
						<key>Set</key>
						<string>N,O,P,Q,R,S,T</string>
						<key>ControlSize</key>
						<string>Small</string>
						<key>Caption</key>
						<array>
							<dict>
								<key>Origin</key>
								<string>382,328</string>
								<key>Size</key>
								<string>220,44</string>
							</dict>
							<dict>
								<key>Origin</key>
								<string>382,190</string>
								<key>Size</key>
								<string>220,44</string>
							</dict>
						</array>
						<key>Border</key>
						<dict>
							<key>Origin</key>
							<string>20,40</string>
							<key>Size</key>
							<string>342,332</string>
						</dict>
						<key>N</key>
						<dict>
							<key>Color</key>
							<string>128,255,255</string>
							<key>Default</key>
							<integer>0</integer>
							<key>Maximum</key>
							<integer>4</integer>
							<key>Minimum</key>
							<integer>-4</integer>
							<key>CenterLine</key>
							<string>0</string>
							<key>Character</key>
							<true/>
							<key>TextField</key>
							<dict>
								<key>Origin</key>
								<string>382,306</string>
								<key>Size</key>
								<string>220,22</string>
							</dict>
							<key>Slider</key>
							<dict>
								<key>Origin</key>
								<string>60,216</string>
								<key>Size</key>
								<string>50,126</string>
							</dict>
						</dict>
						<key>O</key>
						<dict>
							<key>Color</key>
							<string>255,0,255</string>
							<key>Default</key>
							<integer>0</integer>
							<key>Maximum</key>
							<integer>4</integer>
							<key>Minimum</key>
							<integer>-4</integer>
							<key>CenterLine</key>
							<string>0</string>
							<key>Character</key>
							<false/>
							<key>TextField</key>
							<dict>
								<key>Origin</key>
								<string>382,280</string>
								<key>Size</key>
								<string>220,22</string>
							</dict>
							<key>Slider</key>
							<dict>
								<key>Origin</key>
								<string>166,216</string>
								<key>Size</key>
								<string>50,126</string>
							</dict>
						</dict>
						<key>P</key>
						<dict>
							<key>Color</key>
							<string>128,128,128</string>
							<key>Default</key>
							<integer>0</integer>
							<key>Maximum</key>
							<integer>4</integer>
							<key>Minimum</key>
							<integer>-4</integer>
							<key>CenterLine</key>
							<string>0</string>
							<key>Character</key>
							<false/>
							<key>TextField</key>
							<dict>
								<key>Origin</key>
								<string>382,254</string>
								<key>Size</key>
								<string>220,22</string>
							</dict>
							<key>Slider</key>
							<dict>
								<key>Origin</key>
								<string>272,216</string>
								<key>Size</key>
								<string>50,126</string>
							</dict>
						</dict>
						<key>Q</key>
						<dict>
							<key>Color</key>
							<string>128,128,128</string>
							<key>Default</key>
							<integer>0</integer>
							<key>Maximum</key>
							<integer>4</integer>
							<key>Minimum</key>
							<integer>-4</integer>
							<key>CenterLine</key>
							<string>0</string>
							<key>Character</key>
							<true/>
							<key>TextField</key>
							<dict>
								<key>Origin</key>
								<string>382,168</string>
								<key>Size</key>
								<string>220,22</string>
							</dict>
							<key>Slider</key>
							<dict>
								<key>Origin</key>
								<string>60,60</string>
								<key>Size</key>
								<string>50,126</string>
							</dict>
						</dict>
						<key>R</key>
						<dict>
							<key>Color</key>
							<string>128,128,128</string>
							<key>Default</key>
							<integer>0</integer>
							<key>Maximum</key>
							<integer>4</integer>
							<key>Minimum</key>
							<integer>-4</integer>
							<key>CenterLine</key>
							<string>0</string>
							<key>Character</key>
							<false/>
							<key>TextField</key>
							<dict>
								<key>Origin</key>
								<string>382,142</string>
								<key>Size</key>
								<string>220,22</string>
							</dict>
							<key>Slider</key>
							<dict>
								<key>Origin</key>
								<string>113,60</string>
								<key>Size</key>
								<string>50,126</string>
							</dict>
						</dict>
						<key>S</key>
						<dict>
							<key>Color</key>
							<string>128,255,255</string>
							<key>Default</key>
							<integer>0</integer>
							<key>Maximum</key>
							<integer>4</integer>
							<key>Minimum</key>
							<integer>-4</integer>
							<key>CenterLine</key>
							<string>0</string>
							<key>Character</key>
							<false/>
							<key>TextField</key>
							<dict>
								<key>Origin</key>
								<string>382,116</string>
								<key>Size</key>
								<string>220,22</string>
							</dict>
							<key>Slider</key>
							<dict>
								<key>Origin</key>
								<string>166,60</string>
								<key>Size</key>
								<string>50,126</string>
							</dict>
						</dict>
						<key>T</key>
						<dict>
							<key>Color</key>
							<string>128,255,255</string>
							<key>Default</key>
							<integer>0</integer>
							<key>Maximum</key>
							<integer>4</integer>
							<key>Minimum</key>
							<integer>-4</integer>
							<key>CenterLine</key>
							<string>0</string>
							<key>Character</key>
							<false/>
							<key>TextField</key>
							<dict>
								<key>Origin</key>
								<string>382,90</string>
								<key>Size</key>
								<string>220,22</string>
							</dict>
							<key>Slider</key>
							<dict>
								<key>Origin</key>
								<string>219,60</string>
								<key>Size</key>
								<string>50,126</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<key>CIJUtilityHeadAlignmentCheck</key>
			<dict>
				<key>CIJUtilityFeederGuidance</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>PowerSetting</key>
	<dict>
		<key>CIJUtilitySupportFunction</key>
		<array>
			<string>CIJUtilityPowerOff</string>
		</array>
		<key>CIJUtilityPowerOff</key>
		<dict/>
	</dict>
	<key>InkLevel</key>
	<dict>
		<key>Space</key>
		<integer>5</integer>
		<key>Magnification</key>
		<integer>1</integer>
		<key>SupportInk</key>
		<dict>
			<key>Y</key>
			<dict>
				<key>Name</key>
				<string>Y</string>
				<key>Color</key>
				<array>
					<string>255,218,0</string>
				</array>
				<key>Image</key>
				<string>InkTankS</string>
				<key>Type</key>
				<string>Normal</string>
			</dict>
			<key>BK</key>
			<dict>
				<key>Name</key>
				<string>BK</string>
				<key>Color</key>
				<array>
					<string>0,0,0</string>
				</array>
				<key>Image</key>
				<string>InkTankL</string>
				<key>Type</key>
				<string>Normal</string>
			</dict>
			<key>C</key>
			<dict>
				<key>Name</key>
				<string>C</string>
				<key>Color</key>
				<array>
					<string>0,207,255</string>
				</array>
				<key>Image</key>
				<string>InkTankS</string>
				<key>Type</key>
				<string>Normal</string>
			</dict>
			<key>M</key>
			<dict>
				<key>Name</key>
				<string>M</string>
				<key>Color</key>
				<array>
					<string>242,0,255</string>
				</array>
				<key>Image</key>
				<string>InkTankS</string>
				<key>Type</key>
				<string>Normal</string>
			</dict>
		</dict>
	</dict>
	<key>SilentMode</key>
	<dict>
		<key>Type</key>
		<string>Silent20121</string>
		<key>CIJUtilitySetSilentMode</key>
		<dict>
			<key>Type</key>
			<string>Radio</string>
			<key>Default</key>
			<string>0</string>
		</dict>
	</dict>
	<key>CustomSetting</key>
	<dict>
		<key>CIJUtilityCustomInformation</key>
		<dict>
			<key>pmSave</key>
			<true/>
		</dict>
		<key>CIJUtilitySupportFunction</key>
		<array>
			<string>CIJUtilitySetDryLevel</string>
			<string>CIJUtilitySetHagakiPrint</string>
			<string>CIJUtilitySetPaperGap</string>
			<string>CIJUtilitySetAlignHeadsManually</string>
			<string>CIJUtilitySetMismatchDetectionOffPC</string>
		</array>
		<key>CIJUtilitySetDryLevel</key>
		<dict>
			<key>Type</key>
			<string>Slider</string>
			<key>Default</key>
			<integer>3</integer>
			<key>Maximum</key>
			<integer>5</integer>
			<key>Minimum</key>
			<integer>1</integer>
		</dict>
		<key>CIJUtilitySetHagakiPrint</key>
		<dict>
			<key>Type</key>
			<string>CheckBox</string>
			<key>Default</key>
			<true/>
		</dict>
		<key>CIJUtilitySetPaperGap</key>
		<dict>
			<key>Type</key>
			<string>CheckBox</string>
			<key>Default</key>
			<false/>
		</dict>
		<key>CIJUtilitySetAlignHeadsManually</key>
		<dict>
			<key>Type</key>
			<string>CheckBox</string>
			<key>Default</key>
			<false/>
		</dict>
		<key>CIJUtilitySetMismatchDetectionOffPC</key>
		<dict>
			<key>Type</key>
			<string>CheckBox</string>
			<key>Default</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
